<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="candidatepsiexams">

<listeners>
<listener class-name="com.candidatepsiexams.testcases.TestListner"></listener>
<listener class-name="com.candidatepsiexams.testcases.RetryListnerClass"></listener>
</listeners>

<test name="regressiontesting">

<groups>
<run>

<include name="regression"></include>
</run>

</groups>
<classes>
<class name="com.candidatepsiexams.testcases.CreateAccount"></class>
<class name="com.candidatepsiexams.testcases.RegisterForExam"></class>
</classes>


</test>
</suite>